body {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sec-one {
  background-color: #1f2937;
  color: #fff;
  display: flex;
  flex-direction: column;
}

a {
  color: #fff;
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

.nav {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.words {
  height: 300px;
  width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #f9faf8;
  font-size: 36px;
  margin: 0;
}

.para-one {
  color: #fff;
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.cat-one {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cat {
  width: 300px;
  height: auto;
}

.stuff-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.btn-a {
  width: 300px;
  display: flex;
}

.btn-one {
  background-color: #3882f6;
  color: #f9faf8;
}
